.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.board-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.board-list .board-list__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

.board-list .board-list__items .board-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.board-list .board-list__items .board-info span {
  cursor: pointer;
  flex: 1;
}

.board-list .board-list__items .board-name {
  margin-left: 10px;
  font-size: 18px;
}

.board-list .board-list__items .board-users {
  display: flex;
  gap: 5px;
}

.board-list .board-list__items .board-users a {
  height: 32px;
  width: 32px;
  background: #e4e4e4;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
  cursor: pointer;
}

.board-list .board-list__items .board-users {
  margin-right: 10px;
}

.board-list .board-list__items form {
  width: 100%;
  display: flex;
}

.board {
  margin: 0;
  align-items: flex-start;
}

.board-info__buttons {
  display: flex;
  gap: 10px;
}

.board-info__input:focus {
  outline: none;
}

.goal-card {
  padding: 24px;

  border-radius: 16px;
  background: #18181b;
  border: 1px solid #27272a;
}

.goal-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-card__header___icons {
  display: flex;
  gap: 12px;
  z-index: 99;
}

.goal-card__header___icons div {
  cursor: pointer;
}

.goal-card__title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.goal-card__title--input {
  border: none;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  background: transparent;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.goal-card__title--input:focus {
  outline: none;
}

.goal-card__progress-bar___wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.goal-card__progress-bar___title____wrapper {
  display: flex;
  justify-content: space-between;
  color: #a1a1aa;
  font-size: 16px;
}

.goal-card__progress-bar___progress small {
  color: #3f3f46;
  margin-right: 8px;
}

.goal-card__progress-bar__background,
.goal-card__progress-bar {
  background: #3f3f46;
  width: 100%;
  height: 8px;
  border-radius: 12px;
}

.goal-card__progress-bar {
  background: #22c55e;
  width: 75%;
}

.goal-card__users {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px 0;
}

.goal-card__name-acronym {
  color: #a1a1aa;
  font-size: 20px;
}

.goal-card__users img {
  cursor: pointer;
}

.goal-card__new-user {
  width: 100%;
}
