.checkbox-container {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;
}

.container-checkbox input[type="checkbox"] {
  display: block;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  background-color: #18181b;
  border: 2px solid #27272a;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
}

input:checked ~ .checkmark {
  background-color: #22c55e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark__icon {
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark .checkmark__icon {
  display: block;
}

.checkbox-label {
  margin-left: 42px;
}
