.page-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
}

.form-container input {
  flex-grow: 1;
  padding: 5px;
}

.form-container button {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 300ms;
  margin-top: 16px;
}

.form-container button:hover {
  background: #218838;
}

.error-message {
  color: red;
}

.login {
  font-size: 14px;
  width: 100%;
  text-align: right;
  color: #28a745;
  text-decoration: none;
  cursor: pointer;
}
