.form-container {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
}


.error-message {
  color: red;
}

.create-user {
  font-size: 14px;
  width: 100%;
  text-align: right;
  color: #28a745;
  text-decoration: none;
  cursor: pointer;
}
