.button {
  background: #22c55e;
  border: none;
  height: 40px;
  padding: 0px 10px;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms;
}

.button:hover {
  background: #15803d;
}

.button-secondary {
  background: #fff;
  border: 1px solid #28a745;
  padding: 0px 9px;
  color: #28a745;
}
.button-secondary:hover {
  background: #f8f9fa;
}

.button-error {
  background: #dc3545;
  border: none;
  color: #fff;
}

.button-error:hover {
  background: #c82333;
}
