.header {
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.header-title {
  color: #ffffff;
  font-size: 32px;
}

.header-icon {
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: 300ms all;
}

.header-icon:hover {
  transform: scale(1.1);
}
